.App {
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'main';
}

@media only screen and (min-width: 500px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows:auto;
    grid-template-areas:
      'header'
      'main';
  }
  main {
    border-left: 10px black solid;
  }
  #articleById {
    margin-bottom: 16rem;
  }
  #articleTitle{
    text-align: center;
  }
}

body {
  background-color: coral;
}

header {
  background-color: coral;
  text-decoration: underline;
}

h1 {
  background-color: coral;
}

h2{
  margin: 0;
}

#navbar {
  text-align: left;
  margin-bottom: 20px;
  list-style:inside;
}

#articleCatForm {
  padding: 2%;
  margin: 10%;
  background-color: bisque;
}

main {
  background-color: darkgray;
  color:antiquewhite;
  border-top: 10px black solid;
  border-bottom: 10px black solid;
  width:100%;
}

#articles {
  text-align: left;
  background-color: coral;
  width: fit-content;
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  width: 19rem;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#articleById {
  height: 95%;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1rem;
}

#articleTitle {
  border: 2px;
  border-style: double;
  width: fit-content;
  justify-content: center;
  background-color:darkgoldenrod;
}

#likeButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 25px;
}

#addComment {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aqua;
  font-size: 15px;
}

#comments {
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 2px solid black;
}

#commentAuthor {
  width: fit-content;
  color: #DBFCFF;
}

#commentBody{
  height: fit-content;
  width: fit-content;
  border-left: 10px solid gray;
}