.App {
  text-align: center;
}

body {
  background-color: coral;
}

header {
  background-color: coral;
  text-decoration: underline;
}

h1 {
  background-color: coral;
}

#navbar {
  margin-bottom: 20px;
}

main {
  background-color: darkgray;
  color:antiquewhite;
  border-top: 10px black solid;
  border-bottom: 10px black solid;
}

#articles {
  background-color: coral;
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}

#articleTitle {
  border: 2px;
  border-style: double;
  width: fit-content;
  justify-content: center;
  background-color:darkgoldenrod;
}

#authorTitle {
  text-align: left;
}

#catergoryTitle {
  text-align: left;
}

#createdAtTitle {
  text-align: left;
}

#articleBody {
  text-align: left;
}